<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- W przypadku wdrażania projektu biblioteki usługi zawartość pliku konfiguracji należy dodać do pliku 
  app.config hosta. Element System.Configuration nie obsługuje plików konfiguracji bibliotek. -->
  <system.serviceModel>
    <services>
      <service name="FilterBooks.FilterBooksService">
        <endpoint address="" binding="wsHttpBinding" contract="FilterBooks.IFilterBooksService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServicesLibraries/FilterBooksService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Aby zapobiec ujawnieniu informacji o metadanych, 
          ustaw dla poniższych elementów wartość false przed wdrożeniem -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- Aby uzyskać szczegółowe informacje o wyjątku dotyczące błędów na potrzeby debugowania, 
          ustaw dla poniższego elementu wartość true. Ustaw wartość false przed wdrożeniem, 
          aby zapobiec ujawnieniu informacji o wyjątku -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>